[Desktop Entry]
Name=RSMM nxm link handler
Exec=/bin/rsmm --no-user --install %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/nxm;
NoDisplay=true